#=======================#
#     pycache files     #
#=======================#

# Note: python 运行产生的缓存文件
__pycache__/

#=======================#
#       logs files      #
#=======================#

*.log

#=======================#
#      model files      #
#=======================#

# Note: 模型文件太大，不提交到 github 上，而是提交到 hugginngface/modelscope 上
htw_bert_text_cls/